body {
  background-color: #0F1419;
  color: #E6E1CF;
  font-family: monospace;
  font-size: 16px;
  max-width: 55rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 10px;
  }
}

h1 {
  color: #FF7733;
}

h2 {
  color: #B8CC52;
}

h3 {
  color: #F07178;
}

a {
  color: #36A3D9;
}

.danger {
  color: #FF3333;
}

#nav {
  text-align: center;
}

.slider {
  width: 90vw;
  position: relative;
  left: calc(-45vw + 50%);
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #36A3D9;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 90vw;
  height: calc(90vw / 2);
  margin-right: 50px;
  border-radius: 10px;
  background: #0F1419;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  color: #36A3D9;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

code {
  background-color: rgba(255, 255, 255, .1);
  color: #F07178;
}

pre > code {
  display: block;
}
